{# app/Resources/views/Admin/affichage_logement_archive.html.twig


  @Auteurs: Paul Le Noac'h, Komel Jamal, Brian Blessou
  @Mail: brian.blessou@telecomnancy.net
  @Version: HTML5 & Twig

  Cette page permet d'afficher les logements attribués pour les demandeurs.
#}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Appartements</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% endblock %}

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/jquery-1.10.2.min.js') }}"></script>
    {% endblock %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('platform_admin_dashboard') }}">Mairie Villers-lès-Nancy Administrateur</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="{{ path('platform_admin_dashboard') }}"><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                    <li><a href="{{ path('platform_admin_appartment') }}"><i class="fa fa-building-o "></i> Appartements</a></li>  
                    <li><a href="{{ path('platform_admin_demandeur') }}"><i class="fa fa-users"></i> Demandeurs</a></li>
                    <li><a href="{{ path('platform_admin_statistiques') }}"><i class="fa fa-bar-chart "></i> Statistiques</a></li>
                    <li class="active"><a href="{{ path('platform_admin_archive') }}"><i class="fa fa-archive"></i> Archives</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-exclamation-triangle"></i> Notifications <span class="badge">6</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 Nouvelles demandes</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-user-plus"></i></span>
                                    <span class="message">Alain DUPONT</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">2 Demandes erronées</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-user-times"></i></span>
                                    <span class="message">Eric BOMPART</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">2 Demandes expirées</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-clock-o"></i></span>
                                    <span class="message">Antoine BIBOTEUR</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                     <li class="dropdown user-dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  {{app.user.firstname}}  {{app.user.lastname}}<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>Déconnection</a></li>
                       </ul>
                   </li>
                </ul>
            </div>
        </nav>

         <div class="container">
          <div class="row">
            <a type="button" class="btn btn-success" href="{{ path('platform_admin_affichage_archive', {'id': demand.idUser}) }}"><i class="fa fa-chevron-left"></i> Retour</a>
              <h1>Affichage du logement attribué</h1>
          </div>
          
                    
                      <div class="row" style="margin-top: 20px">
                          <div class="col-lg-6 col-md-6">
                              <iframe
                                width="500"
                                height="300"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDbT2MCma2EXRvMx27u1KwxTXZXVV3ma6c
                                  &q={{appartment.adress}},Villers-lès-Nancy" allowfullscreen>
                              </iframe>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            {% if appartment %}
                                <p style="margin-top: 20px"><b>Type: </b>{{appartment.type}}</p>
                                <p><b>Localisation: </b>{{appartment.location}}</p>
                                <p><b>Bailleur: </b>{{appartment.bailleur}}</p>
                                <p><b>Résidence: </b>{{appartment.residence}}</p>
                                <p><b>Adresse: </b>{{appartment.adress}}</p>
                                <p><b>Etage: </b>{{appartment.floor}}</p>
                                <p><b>Numéro: </b>{{appartment.numero}}</p>
                                <p><b>Contingent: </b>{{appartment.contingent}}</p>
                                <p><b>Loyer: </b>{{appartment.rent}}</p>
                                {% if demand %}
                                  <p><b>Date d'attribution: </b>{{ demand.dateAttribution.format('j M Y à h:m a')}}</p>
                                {%endif%}
                              {%endif%}
                          </div>
                    </div>  
                    {% if demand.dateArchivage == date_zero %}
                      <a type="button" class="btn btn-success" 
                      href="{{ path('platform_admin_liberer_demande', {'id': demand.id}) }}"
                      style="margin-top: 20px">
                      <i class="fa fa-link"></i> Libérer le logement attribué</a>
                    {% else %}  
                      <p style="margin-top: 20px">Le logement a déjà été libéré le {{ demand.dateArchivage.format('j M Y à h:m a')}}. Il peut donc être attribué à un autre demandeur.</p>
                    {%endif%}
    </div>



</body>
</html>
