{# app/Resources/views/Admin/ajouter_demande.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Demandeurs</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% endblock %}

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/jquery-1.10.2.min.js') }}"></script>
    {% endblock %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('platform_admin_dashboard') }}">Mairie Villers-lès-Nancy Administrateur</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="{{ path('platform_admin_dashboard') }}"><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                    <li><a href="{{ path('platform_admin_appartment') }}"><i class="fa fa-building-o "></i> Appartements</a></li>                    
                    <li class="active"><a href="{{ path('platform_admin_demandeur') }}"><i class="fa fa-users"></i> Demandeurs</a></li>
                    <li><a href="{{ path('platform_admin_statistiques') }}"><i class="fa fa-bar-chart "></i> Statistiques</a></li>
                    <li><a href="{{ path('platform_admin_archive') }}"><i class="fa fa-archive"></i> Archives</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                     <li class="dropdown user-dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  {{app.user.firstname}}  {{app.user.lastname}}<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>Déconnection</a></li>
                       </ul>
                   </li>
                </ul>
            </div>
        </nav>
        <div class="container">
          <div class="row">
          <a type="button" class="btn btn-success" href="{{ path('platform_admin_demandeur') }}">
            <i class="fa fa-chevron-left"></i> Retour</a>
            {% if demand_current %}
                <h1>Demande actuelle pour {{demand_current.lastName}} {{demand_current.firstName}}</h1>
            {%endif%}
          </div>
          <div class="row" style="margin-top: 30px">
          <div class="col-lg-12">
            {% if demand_current %}
            {% if demand_current.genre != null or demand_current.firstName != null or demand_current.lastName != null or demand_current.date != null or emand_current.telephone !=null or demand_current.email != null %}
               <h2>Coordonnées</h2>
               {%endif%}
                 <p/>
                {% if demand_current.genre != null %}
                <p>
                  <label class="labelform3">Civilité: {{ demand_current.genre}}</label>
                </p>
                {%endif%}
                {% if demand_current.firstName != null %}
                <p>  
                  <label class="labelform3">Nom : {{ app.user.firstName}} </label>
                </p>
                {%endif%}
                {% if demand_current.lastName != null %}

                <p>
                  <label class="labelform3">Prénom: {{ app.user.lastName}}</label>
                </p>
                {%endif%}
                
                {% if demand_current.date != null %}
                <p>
                  <label class="labelform3">Date de naissance: {{demand_current.date}}</label>
                </p>
                {%endif%}
                {% if demand_current.telephone != null %}
                <p>
                  <label class="labelform3">Telephone: {{ demand_current.telephone}}</label>
                </p>
                {%endif%}
                {% if demand_current.email != null %}
                <p>
                  <label class="labelform3">Mail: {{ demand_current.email}}</label>
                </p>
                {%endif%}
                 <p>

                {% if demand_current.numero != null or demand_current.voie != null or demand_current.complementadresse != null or demand_current.lieudit != null or demand_current.codepostal != null or demand_current.codepostal != null or demand_current.commune != null %}
                <h2>Adresse pour l'envoie du courrier</h2>
                {%endif%}

                 </p>
                {% if demand_current.numero != null%}
                <p>
                  <label class="labelform3">Numéro: {{ demand_current.numero}}</label>
                </p>
                {%endif%}
                {% if demand_current.voie != null %}
                <p>
                  <label class="labelform3">Voie: {{ demand_current.voie}}</label>
                </p>
                {%endif%}
                {% if demand_current.complementadresse != null %}
                <p>
                  <label class="labelform3">Complément adresse: {{ demand_current.complementadresse}}</label>
                </p>
                {%endif%}
                {% if demand_current.lieudit != null %}
                <p>
                  <label class="labelform3">Lieu-dit: {{ demand_current.lieudit}}</label>
                </p>
                {%endif%}
                {% if demand_current.codepostal != null %}
                <p>
                  <label class="labelform3">Code postal: {{ demand_current.codepostal}}</label>
                </p>
                {%endif%}
                {% if demand_current.commune != null %}
                <p>
                  <label class="labelform3">Commune: {{ demand_current.commune}}</label>
                </p>
                {%endif%}
                {% if demand_current.personnecharge != null or demand_current.nombrepersonnecharge != null %}
 <p>
                <h2>Personnes fiscalement à charges</h2>
 </p>
 {%endif%}
                {% if demand_current.personnecharge != null %}
                <p>
                  <label class="labelform3">Personne à charges: {{ demand_current.personnecharge}}</label>
                </p>
                {%endif%}
                {% if demand_current.nombrepersonnecharge != null %}
                <p>
                  <label class="labelform3">Si oui combien ? {{ demand_current.nombrepersonnecharge}}</label>
                </p>    
                {%endif%}
                {% if demand_current.profession != null or demand_current.status != null or demand_current.nomemployeur != null or  demand_current.codepostalemployeur != null or demand_current.communeemployeur != null%}
 <p>
                <h2>Le demandeur</h2>
 </p>
 {%endif%}
                {% if demand_current.profession != null %}
                <p>
                  <label class="labelform3">Profession: {{ demand_current.profession}}</label>
                </p>
                {%endif%}
                {% if demand_current.status != null %}
                <p>
                  <label class="labelform3">Statut: {{ demand_current.status}}</label>
                </p>
                {%endif%}
                {% if demand_current.nomemployeur != null %}
                <p>
                  <label class="labelform3">Nom de votre employeur : {{ demand_current.nomemployeur}}</label>
                  
                </p>
                {%endif%}
                {% if demand_current.codepostalemployeur != null %}
                <p>
                  <label class="labelform3">Code postal: {{ demand_current.codepostalemployeur}}</label>
                </p>
                {%endif%}
                {% if demand_current.communeemployeur != null %}
                <p>
                  <label class="labelform3">Commune du lieu de travail : {{ demand_current.communeemployeur}}</label>
                </p>
                {%endif%}

                {% if demand_current.statusconjoint != null  or demand_current.nomemployeurconjoint != null or demand_current.codepostalemployeurconjoint != null or demand_current.communeemployeurconjoint != null %}
                 <p>
                <h2>Le conjoint ou le futur co-titulaire du bail</h2>
                 </p>
                {%endif%}
                {% if demand_current.professionconjoint != null %}


                <p>
                  <label class="labelform3">Profession conjoint: {{ demand_current.professionconjoint}}</label>
                </p>
                {%endif%}
                {% if demand_current.statusconjoint != null %}
                <p>
                  <label class="labelform3">Statut: {{ demand_current.statusconjoint}}</label>
                </p>
                {%endif%}
                {% if demand_current.nomemployeurconjoint != null %}
                <p> 
                  <label class="labelform3">Nom de votre employeur : {{ demand_current.nomemployeurconjoint}}</label>
                </p>
                {%endif%}
                {% if demand_current.codepostalemployeurconjoint != null %}
                <p>
                  <label class="labelform3">Code postal: {{ demand_current.codepostalemployeurconjoint}}</label>
                </p>
                {%endif%}
                {% if demand_current.communeemployeurconjoint != null %}
                <p>
                  <label class="labelform3">Commune du lieu de travail : {{ demand_current.communeemployeurconjoint}}</label>
                </p>
                {%endif%}

                {% if demand_current.avisimposition1 != null or demand_current.avisimposition1 != null %}
 <p>
                <h2>Revenu fiscal de référence</h2>
 </p>
                {%endif%}

                {% if demand_current.avisimposition1 != null %}
                <p>
                  <label class="labelform3">Avis d'imposition <script>document.write(new Date().getFullYear()-1)</script>: {{ demand_current.avisimposition1}}</label>
                </p>
                {%endif%}
                {% if demand_current.avisimposition2 != null %}
                <p>
                  <label class="labelform3">Avis d'imposition <script>document.write(new Date().getFullYear()-2)</script>: {{ demand_current.avisimposition2}}</label>
                </p>
                {%endif%}

                {% if demand_current.salary != null and demand_current.retraite != null and demand_current.allocationchomage != null and demand_current.pensionalimentaire != null and demand_current.pensioninvalidite != null and demand_current.allocationfamilial != null and demand_current.rsa != null and demand_current.autres != null%}
 <p>
                <h2>Ressources Mensuelles</h2>

 </p>
 {%endif%}
                {% if demand_current.salary != null %}
                <p>
                  <label class="labelform3">Salaire : {{ demand_current.salary}}</label>
                </p>
                {%endif%}
                {% if demand_current.retraite != null %}
                <p>
                  <label class="labelform3">Retraite: {{ demand_current.retraite}}</label>
                </p>
                {%endif%}
                {% if demand_current.allocationchomage != null %}
                <p>
                  <label class="labelform3">Allocation chômage: {{ demand_current.allocationchomage}}</label>
                </p>
                {%endif%}
                {% if demand_current.pensionalimentaire != null %}
                <p>
                  <label class="labelform3">Pension alimentaire: {{ demand_current.pensionalimentaire}}</label>
                </p>
                {%endif%}
                {% if demand_current.pensioninvalidite != null %}
                <p>
                  <label class="labelform3">Pension d'invaidité: {{ demand_current.pensioninvalidite}}</label>
                </p>
                {%endif%}
                {% if demand_current.allocationfamilial != null %}
                <p>
                  <label class="labelform3">Allocation familiale: {{ demand_current.allocationfamilial}}</label>
                </p>
                {%endif%}
                {% if demand_current.rsa != null %}
                <p>
                  <label class="labelform3">Revenu de soldarité active (RSA): {{ demand_current.rsa}}</label>
                </p>
                {%endif%}
                {% if demand_current.autres != null %}
                <p>
                  <label class="labelform3">Autres : {{ demand_current.autres}}</label>
                </p>
                {%endif%}
{% if demand_current.situation != null or demand_current.loyerlogementactuel != null or demand_current.nbpersonnelogementactuel != null or demand_current.categorielogementactuel != null or demand_current.typelogementactuel != null or demand_current.surfacelogementactuel != null%}
 <p>
                <h2>Logement Actuel</h2>
 </p>
 {%endif%}
                {% if demand_current.situation != null %}
                <p>
                  <label class="labelform3">Situation du logement: {{ demand_current.situation}}</label>
                </p>
                {%endif%}

                {% if demand_current.loyerlogementactuel != null %}
                <p>
                  <label class="labelform3">Si vous payez un loyer ou une redevance, montant mensuel: {{ demand_current.loyerlogementactuel}}</label>
                </p>
                {%endif%}

                {% if demand_current.nbpersonnelogementactuel != null%}
                <p>
                  <label class="labelform3">Nombre de personnes occupant le logement actuel: {{ demand_current.nbpersonnelogementactuel}}</label>
                </p>  
                {%endif%}

                {% if demand_current.categorielogementactuel != null %}

                <p>
                  <label class="labelform3">Autres : {{ demand_current.categorielogementactuel}}</label>
                </p>
                {%endif%}

                {% if demand_current.typelogementactuel != null %}

                <p>
                  <label class="labelform3">Type de logement: {{ demand_current.typelogementactuel}}</label>
                </p>
                {%endif%}

                {% if demand_current.surfacelogementactuel != null %}

                <p>
                  <label class="labelform3">Surface: {{ demand_current.surfacelogementactuel}}</label>
                </p>
                {%endif%}

                {% if demand_current.locationVillersCentre != null or demand_current.locationVillersBas != null or demand_current.locationClairlieu != null or demand_current.categorielogementrecherche != null or demand_current.parking != null or demand_current.type1 != null or demand_current.rdc != null or demand_current.montantmaxi != null   %}
 <p>
                <h2>Logement recherché</h2>
 </p>
                {%endif%}
                {% if demand_current.locationVillersCentre != null %}

                <p>
                  <label class="labelform3">Location à Villers-centre : {{ demand_current.locationVillersCentre}}</label>
                </p>
                {%endif%}
                {% if demand_current.locationVillersBas != null %}

                <p>
                  <label class="labelform3">Location à Villers-bas : {{ demand_current.locationVillersBas}}</label>
                </p>
                {%endif%}
                {% if demand_current.locationClairlieu != null %}

                <p>
                  <label class="labelform3">Location à Clairlieu : {{ demand_current.locationClairlieu}}</label>
                </p>
                {%endif%}

                {% if demand_current.categorielogementrecherche != null %}

                <p>
                  <label class="labelform3">Catégorie: {{ demand_current.categorielogementrecherche}}</label>
                </p>
                {%endif%}

                {% if demand_current.parking != null %}

                <p>
                  <label class="labelform3">Souhaitez-vous un parking? {{ demand_current.parking}}</label>
                </p>
                {%endif%}

                {% if demand_current.type1 != null %}

                <p>
                  <label class="labelform3">Typologie d'appartement: {{ demand_current.type1}}</label>
                </p>
                {%endif%}

                {% if demand_current.rdc != null %}

                <p>
                  <label class="labelform3">Logement rez-de-chaussée: {{ demand_current.rdc}}</label>
                </p>
                {%endif%}

                {% if demand_current.montantmaxi != null %}

                <p>
                  <label class="labelform3">Montant maximum de la dépense de logement (loyer + charge): {{ demand_current.montantmaxi}}</label>
                </p>
                {%endif%}

                <p><b>Demande créée le: </b>{{ demand_current.dateCreation.format('j M Y à h:m a')}}</p>
                <label for="demand_note">Notes: </label>
                    <textarea maxlength="200" class="form-control" rows="3">{{demand_current.note}}
                    </textarea>
                    <p class="help-block">La modification dans ce cadre n'est pas enregistré.</p>
                {% if demand_current.confirmed == "Oui"%}
                    <a type="button" class="btn btn-primary" href="{{ path('platform_admin_attribution_demande', 
                        { 'id': demand_current.id }) }}">
                    <i class="fa fa-link"></i> Attribuer</a>
                {% else %}
                    {% if demand_current.wrong == "Non"%}
                        <a type="button" class="btn btn-success" 
                        href="{{ path('platform_admin_confirmer_demande', 
                        { 'id': demand_current.idUser }) }}">
                        <i class="fa fa-check"></i> Confirmer</a>
<!--OnClick="return confirm('Voulez-vous vraiment supprimer la demande ?');"-->
                        <a type="button" class="btn btn-danger" 
                        href="{{ path('platform_admin_refuser_demande', 
                        { 'id': demand_current.idUser }) }}">
                        <i class="fa fa-times"></i> Refuser</a>
                    {% else %}
                        <p> Vous avez refusé la demande, elle est donc erronée. La demande pourra être confimé lorsque la demande sera modifiée par le demandeur de logement social ou si vous la modifiez vous même.</p>
                    {%endif%}
                {%endif%}
                <a type="button" class="btn btn-warning" href="{{ path('platform_admin_modifier_demande', 
                    { 'id': demand_current.id }) }}"><i class="fa fa-pencil"></i> Editer</a>
                <a type="button" class="btn btn-primary" href="{{ path('platform_admin_archiver_demande', 
                    { 'id': demand_current.idUser }) }}"><i class="fa fa-archive"></i> Archiver</a>
            {%endif%}
            
          </div>
        </div>
    </div>

</body>
</html>
