{# app/Resources/views/Admin/ajouter_demande.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Demandeurs</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/dashboard.css') }}">
    {% endblock %}

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/jquery-1.10.2.min.js') }}"></script>
    {% endblock %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('platform_admin_dashboard') }}">Mairie Villers-lès-Nancy Administrateur</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="{{ path('platform_admin_dashboard') }}"><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                    <li><a href="{{ path('platform_admin_appartment') }}"><i class="fa fa-building-o "></i> Appartements</a></li>                    
                    <li class="active"><a href="{{ path('platform_admin_demandeur') }}"><i class="fa fa-users"></i> Demandeurs</a></li>
                    <li><a href="{{ path('platform_admin_statistiques') }}"><i class="fa fa-bar-chart "></i> Statistiques</a></li>
                    <li><a href="{{ path('platform_admin_archive') }}"><i class="fa fa-archive"></i> Archives</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin Mairie<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                           <li><a href="#"><i class="fa fa-gear"></i> Réglages</a></li>
                           <li class="divider"></li>
                           <li><a href="#"><i class="fa fa-power-off"></i> Déconnection</a></li>
                       </ul>
                   </li>
                </ul>
            </div>
        </nav>
        <div class="container">
          <div class="row">
          <a type="button" class="btn btn-success" href="{{ path('platform_admin_demandeur') }}">
            <i class="fa fa-chevron-left"></i> Retour</a>
          <h1>Ajouter une nouvelle demande à un demandeur</h1>
          </div>
          <div class="row">
          <div class="col-lg-12">
            <form action="{{ path('platform_admin_ajouter_demande', { 'id': user.id }) }}" method="post" role="form">
                <div class="form-group">

                    <div class="form-group">
                    <label for="demand_lastName">Nom: </label>
                    <input class="form-control" id="demand_lastName" type="text" required="required" name="demand[lastName]" 
                    value={{user.lastName}}></input>
                    <p class="help-block">{{ form_errors(form.lastName) }}</p>
                    </div>

                    <div class="form-group">
                    <label for="demand_firstName">Prénom: </label>
                    <input class="form-control" id="demand_firstName" type="text" required="required" name="demand[firstName]" 
                    value={{user.firstname}}></input>
                    <p class="help-block">{{ form_errors(form.firstName) }}</p>
                    </div>

                    <div class="form-group">
                    <label for="demand_email">Email: </label>
                    <input class="form-control" id="demand_email" type="email" required="required" name="demand[email]" 
                    value={{user.email}}></input>
                    <p class="help-block">{{ form_errors(form.email) }}</p>
                    </div>

                    <div class="form-group">
                    <label for="demand_salary">Salaire: </label>
                    <input class="form-control" id="demand_salary" type="text" required="required" name="demand[salary]" ></input>
                    <p class="help-block">{{ form_errors(form.salary) }}</p>
                    </div>

                    <div class="form-group">
                    <label for="demand_locationVillersCentre">Localisation à Villers-centre: </label>
                    <select class="form-control" id="demand_locationVillersCentre" type="text" required="required" name="demand[locationVillersCentre]">
                        <option>Oui</option>
                        <option>Non</option>
                    </select>
                    <p class="help-block">{{ form_errors(form.locationVillersCentre) }}</p>
                    </div>

                    <div class="form-group">
                    <label for="demand_locationVillersBas">Localisation à Villers-bas: </label>
                    <select class="form-control" id="demand_locationVillersBas" type="text" required="required" name="demand[locationVillersBas]">
                        <option>Oui</option>
                        <option>Non</option>
                    </select>
                    <p class="help-block">{{ form_errors(form.locationVillersBas) }}</p>
                    </div>

                    <div class="form-group">
                    <label for="demand_locationClairlieu">Localisation à Clairlieu: </label>
                    <select class="form-control" id="demand_locationClairlieu" type="text" required="required" name="demand[locationClairlieu]">
                        <option>Oui</option>
                        <option>Non</option>
                    </select>
                    <p class="help-block">{{ form_errors(form.locationClairlieu) }}</p>
                    </div>

                    <div class="form-group">
                    <label for="demand_type1">Type: </label>
                    <select class="form-control" id="demand_type1" type="text" required="required" name="demand[type1]">
                        <option>F1</option>
                        <option>F1 bis</option>
                        <option>F2</option>
                        <option>F3</option>
                        <option>F4</option>
                        <option>F5</option>
                        <option>F6</option>
                    </select>
                    <p class="help-block">{{ form_errors(form.type1) }}</p>
                    </div>

                    <div class="form-group">
                    <label for="demand_type2">Autre type: </label>
                    <select class="form-control" id="demand_type2" type="text" required="required" name="demand[type2]">
                        <option>Non</option>
                        <option>F1</option>
                        <option>F1 bis</option>
                        <option>F2</option>
                        <option>F3</option>
                        <option>F4</option>
                        <option>F5</option>
                        <option>F6</option>
                    </select>
                    <p class="help-block">{{ form_errors(form.type2) }}</p>
                    </div>

                    <div class="form-group">
                    <label for="demand_note">Notes: </label>
                        <textarea id="demand_note" name="demand[note]"maxlength="200" class="form-control" rows="3"></textarea>
                        <p class="help-block">Maximum 200 caractères. Non communiqué au demandeur.</p>
                    </div>

                </div>
                </div>
                {{ form_widget(form._token) }}
                <input type="submit" class="btn btn-success" value="Valider" style="margin-bottom: 50px; margin-top: 20px" />

            </form>
          </div>
        </div>
    </div>

</body>
</html>
