{# app/Resources/views/Admin/archive.html.twig 


  @Auteurs: Paul Le Noac'h, Komel Jamal, Brian Blessou
  @Mail: brian.blessou@telecomnancy.net
  @Version: HTML5 & Twig

  Cette page permet de rechercher une liste de demandes archivées.
#}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Demandeurs</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% endblock %}

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/jquery-1.10.2.min.js') }}"></script>
    {% endblock %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('platform_admin_dashboard') }}">Mairie Villers-lès-Nancy Administrateur</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="{{ path('platform_admin_dashboard') }}"><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                    <li><a href="{{ path('platform_admin_appartment', { 'page': 0 } ) }}"><i class="fa fa-building-o "></i> Appartements</a></li>
                    <li><a href="{{ path('platform_admin_demandeur') }}"><i class="fa fa-users"></i> Demandeurs</a></li>
                    <li><a href="{{ path('platform_admin_statistiques') }}"><i class="fa fa-bar-chart "></i> Statistiques</a></li>
                    <li class="active"><a href="{{ path('platform_admin_archive') }}"><i class="fa fa-archive"></i> Archives</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                     <li class="dropdown user-dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  {{app.user.firstname}}  {{app.user.lastname}}<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>Déconnection</a></li>
                       </ul>
                   </li>
                </ul>
            </div>
        </nav>

         <div class="container">
          <div class="row">
            <div class="well" style="margin-top: 30px">
              <h4><b>Formulaire de recherche de demandeur: </b></h4>
              <div class="row">
                
                  <form action="{{path('platform_admin_archive')}}" method="post" role="form" novalidate>
                    <div id="app_user_registration">

                            <div class="col-lg-6">

                              <div>
                                <label for="app_user_registration_lastname" style="margin-top: 10px">Nom: </label>
                                <input class="form-control" type="text" id="app_user_registration_lastname" name="app_user_registration[lastname]"/>
                              </div>

                              <div>
                                <label for="app_user_registration_firstname" style="margin-top: 10px">Prénom: </label>
                                <input class="form-control" type="text" id="app_user_registration_firstname" name="app_user_registration[firstname]"/>
                              </div>
                              
                            </div>

                            <div class="col-lg-6">

                             <div>
                                <label for="app_user_registration_email" class="required" style="margin-top: 10px">Adresse e-mail: </label>
                                <input class="form-control" type="email" id="app_user_registration_email" name="app_user_registration[email]" required="required"/>
                              </div>
                              {{ form_widget(form._token) }}
                              <input type="submit" class="btn btn-success pull-right" style="margin-top: 30px" value="Rechercher" />
                            </div>
                    </div>
                  </form>     
              </div>
              </div>    
            </div>
          </div> 
          {% if liste_demandeur != 'vide' %}
            <p style="margin-left: 80px">Vous avez "{{liste_demandeur|length}}" résultats.</p>
            <div class="panel-body" style="height: 300px; overflow-y: auto;">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                    <th>Demandes</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for demandeur in liste_demandeur %}
                                  <tr>
                                    <td>{{demandeur.lastName}}</td>
                                    <td>{{demandeur.firstName}}</td>
                                    <td>{{demandeur.email}}</td>
                                    <td>
                                        <a type="button" class="btn btn-primary btn-xs" 
                                        href="{{ path('platform_admin_affichage_archive', { 'id': demandeur.id }) }}">
                                          <i class="fa fa-plus"></i> Afficher les demandes</a>
                                    </td>
                                  </tr>
                                  {%endfor%}
                                </tbody>
                            </table>
            </div>
          {%endif%}

    </div>

</body>
</html>
