{# app/Resources/views/Admin/appartment.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Appartements</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/dashboard.css') }}">
    {% endblock %}

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/jquery-1.10.2.min.js') }}"></script>
    {% endblock %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('platform_admin_dashboard') }}">Mairie Villers-lès-Nancy Administrateur</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="{{ path('platform_admin_dashboard') }}"><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                    <li class="active"><a href="{{ path('platform_admin_appartment') }}"><i class="fa fa-building-o "></i> Appartements</a></li>  
                    <li><a href="{{ path('platform_admin_demandeur') }}"><i class="fa fa-users"></i> Demandeurs</a></li>
                    <li><a href="{{ path('platform_admin_statistiques') }}"><i class="fa fa-bar-chart "></i> Statistiques</a></li>
                    <li><a href="{{ path('platform_admin_archive') }}"><i class="fa fa-archive"></i> Archives</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin Mairie<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                           <li><a href="#"><i class="fa fa-gear"></i> Réglages</a></li>
                           <li class="divider"></li>
                           <li><a href="#"><i class="fa fa-power-off"></i> Déconnection</a></li>
                       </ul>
                   </li>
                </ul>
            </div>
        </nav>

         <div class="container">
          <div class="row">
            <a type="button" class="btn btn-success" href="{{ path('platform_admin_appartment') }}"><i class="fa fa-chevron-left"></i> Retour</a>
              <h1>Attribution d'une demande à un logement</h1>
          </div>
          
                    
                      <div class="row" style="margin-top: 20px">
                          <div class="col-lg-6 col-md-6">
                              <iframe
                                width="500"
                                height="300"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDbT2MCma2EXRvMx27u1KwxTXZXVV3ma6c
                                  &q={{appartment.adress}},Villers-lès-Nancy" allowfullscreen>
                              </iframe>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            {% if appartment %}
                                <p style="margin-top: 20px"><b>Type: </b>{{appartment.type}}</p>
                                <p><b>Localisation: </b>{{appartment.location}}</p>
                                <p><b>Bailleur: </b>{{appartment.bailleur}}</p>
                                <p><b>Résidence: </b>{{appartment.residence}}</p>
                                <p><b>Adresse: </b>{{appartment.adress}}</p>
                                <p><b>Etage: </b>{{appartment.floor}}</p>
                                <p><b>Numéro: </b>{{appartment.numero}}</p>
                                <p><b>Contingent: </b>{{appartment.contingent}}</p>
                                <p><b>Loyer: </b>{{appartment.rent}}</p>
                              {%endif%}
                          </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                      <div class="panel-body" style="height: 200px; overflow-y: auto;">
                                  <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th>Date de création</th>
                                          <th>Nom</th>
                                          <th>Prénom</th>
                                          <th>Email</th>
                                          <th>Salaire</th>
                                          <th>Type</th>
                                          <th>Autre type</th>
                                          <th>Villers-centre</th>
                                          <th>Villers-bas</th>
                                          <th>Clairlieu</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% if list_demand %}
                                          {% for demand in list_demand%}
                                            {% if demand.type1 == appartment.type or demand.type2 == appartment.type or demand.type1 == type_inf or demand.type2 == type_sup %}
                                                <tr>
                                                  <td>{{ demand.dateCreation.format('j M Y à h:m a')}}</td>
                                                  <td>{{demand.lastName}}</td>
                                                  <td>{{demand.firstName}}</td>
                                                  <td>{{demand.email}}</td>
                                                  <td>{{demand.salary}}</td>
                                                  <td>{{demand.type1}}</td>
                                                  <td>{{demand.type2}}</td>
                                                  <td>{{demand.locationVillersCentre}}</td>
                                                  <td>{{demand.locationVillersBas}}</td>
                                                  <td>{{demand.locationClairlieu}}</td>
                                                  <td><a href="{{ path('platform_admin_attribuer_logement', {'id':appartment.id, 'iddemand':demand.id}) }}"
                                                    <i class="fa fa-check" style="color:#01D758;"></i></td>
                                                </tr>
                                            {%endif%}
                                          {%endfor%}
                                        {%endif%}
                                      </tbody>
                                  </table>
                              </div>
                    </div>        
    </div>



</body>
</html>
