{# app/Resources/views/Admin/dashboard.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Stats</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('css/c3/c3.css')}}" type="text/css">
    {% endblock %}

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('css/d3/d3.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('css/c3/c3.min.js') }}"></script>
    {% endblock %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('platform_admin_dashboard') }}">Mairie Villers-lès-Nancy Administrateur</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="{{ path('platform_admin_dashboard') }}"><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                    <li><a href="{{ path('platform_admin_appartment') }}"><i class="fa fa-building-o "></i> Appartements</a></li>                    
                    <li><a href="{{ path('platform_admin_demandeur') }}"><i class="fa fa-users"></i> Demandeurs</a></li>
                    <li class="active"><a href="{{ path('platform_admin_statistiques') }}"><i class="fa fa-bar-chart "></i> Statistiques</a></li>
                    <li><a href="{{ path('platform_admin_archive') }}"><i class="fa fa-archive"></i> Archives</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin Mairie<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                           <li><a href="#"><i class="fa fa-gear"></i> Réglages</a></li>
                           <li class="divider"></li>
                           <li><a href="#"><i class="fa fa-power-off"></i> Déconnection</a></li>
                       </ul>
                   </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Administrateur <small>Statistiques</small></h1>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Logements</h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow-y: auto;">
                            <div id="chart_appartment"></div>
                            <p style="margin-top: 10px">Nombre de logements libres: <b>{{list_appartment_free|length}}</b></p>
                            <p>Nombre de logements occupés: <b>{{list_appartment_occuped|length}}</b></p>
                            <p>Nombre de logements total: <b>{{list_appartment_total|length}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Types de logement</h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow-y: auto;">
                            <div id="chart_type"></div>
                            <p style="margin-top: 10px">Nombre de logements F1: <b>{{list_appartment_f1|length}}</b></p>
                            <p>Nombre de logements F1 bis: <b>{{list_appartment_f1bis|length}}</b></p>
                            <p>Nombre de logements F2: <b>{{list_appartment_f2|length}}</b></p>
                            <p>Nombre de logements F3: <b>{{list_appartment_f3|length}}</b></p>
                            <p>Nombre de logements F4: <b>{{list_appartment_f4|length}}</b></p>
                            <p>Nombre de logements F5: <b>{{list_appartment_f5|length}}</b></p>
                            <p>Nombre de logements F6: <b>{{list_appartment_f6|length}}</b></p>
                            <p>Nombre de logements total: <b>{{list_appartment_total|length}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Contingent</h3>
                        </div>
                        <div class="panel-body" style="height: 450px;">
                            <div id="chart_contingent"></div>
                            <p style="margin-top: 10px">Nombre de logements contingent: <b>{{list_appartment_contingent|length}}</b></p>
                            <p>Nombre de logements non contingent: <b>{{list_appartment_noncontingent|length}}</b></p>
                            <p>Nombre de logements total: <b>{{list_appartment_total|length}}</b></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 20px">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Logements F1</h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow-y: auto;">
                            <div id="chart_f1"></div>
                            <p style="margin-top: 10px">Nombre de logements F1 libres: <b>{{list_appartment_f1_free|length}}</b></p>
                            <p>Nombre de logements F1 occupés: <b>{{list_appartment_f1_taken|length}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Logements F1 bis</h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow-y: auto;">
                            <div id="chart_f1bis"></div>
                            <p style="margin-top: 10px">Nombre de logements F1 bis libres: <b>{{list_appartment_f1bis_free|length}}</b></p>
                            <p>Nombre de logements F1 bis occupés: <b>{{list_appartment_f1bis_taken|length}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Logements F2</h3>
                        </div>
                        <div class="panel-body" style="height: 450px;">
                            <div id="chart_f2"></div>
                            <p style="margin-top: 10px">Nombre de logements F2 libres: <b>{{list_appartment_f2_free|length}}</b></p>
                            <p>Nombre de logements F2 occupés: <b>{{list_appartment_f2_taken|length}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#début de ligne de statistiques -->
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Logements F3</h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow-y: auto;">
                            <div id="chart_f3"></div>
                            <p style="margin-top: 10px">Nombre de logements F3 libres: <b>{{list_appartment_f3_free|length}}</b></p>
                            <p>Nombre de logements F3 occupés: <b>{{list_appartment_f3_taken|length}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Logements F4</h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow-y: auto;">
                            <div id="chart_f4"></div>
                            <p style="margin-top: 10px">Nombre de logements F4 libres: <b>{{list_appartment_f4_free|length}}</b></p>
                            <p>Nombre de logements F4 occupés: <b>{{list_appartment_f4_taken|length}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Logements F5</h3>
                        </div>
                        <div class="panel-body" style="height: 450px;">
                            <div id="chart_f5"></div>
                            <p style="margin-top: 10px">Nombre de logements F5 libres: <b>{{list_appartment_f5_free|length}}</b></p>
                            <p>Nombre de logements F5 occupés: <b>{{list_appartment_f5_taken|length}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#fin ligne de statistiques -->

            <!-- /#début de ligne de statistiques -->
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-building-o"></i> Logements F6</h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow-y: auto;">
                            <div id="chart_f6"></div>
                            <p style="margin-top: 10px">Nombre de logements F6 libres: <b>{{list_appartment_f6_free|length}}</b></p>
                            <p>Nombre de logements F6 occupés: <b>{{list_appartment_f6_taken|length}}</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-users"></i> Types de demandes non attribuées</h3>
                        </div>
                        <div class="panel-body" style="height: 450px; overflow-y: auto;">
                            <div id="chart_demand_type"></div>
                            {% set f1_free = list_demand_f1_type1|length + list_demand_f1_type2|length %}
                            {% set f1bis_free = list_demand_f1bis_type1|length + list_demand_f1bis_type2|length %}
                            {% set f2_free = list_demand_f2_type1|length + list_demand_f2_type2|length %}
                            {% set f3_free = list_demand_f3_type1|length + list_demand_f3_type2|length %}
                            {% set f4_free = list_demand_f4_type1|length + list_demand_f4_type2|length %}
                            {% set f5_free = list_demand_f5_type1|length + list_demand_f5_type2|length %}
                            {% set f6_free = list_demand_f6_type1|length + list_demand_f6_type2|length %}
                            <p style="margin-top: 10px">Nombre de demandes F1 non attribués: <b>{{ f1_free }}</b></p>
                            <p>Nombre de demandes F1 bis non attribués: <b>{{ f1bis_free }}</b></p>
                            <p>Nombre de demandes F2 non attribués: <b>{{ f2_free }}</b></p>
                            <p>Nombre de demandes F3 non attribués: <b>{{ f3_free }}</b></p>
                            <p>Nombre de demandes F4 non attribués: <b>{{ f4_free }}</b></p>
                            <p>Nombre de demandes F5 non attribués: <b>{{ f5_free }}</b></p>
                            <p>Nombre de demandes F6 non attribués: <b>{{ f6_free }}</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#fin ligne de statistiques -->    
                
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Logements attribués", {{list_appartment_occuped|length}}],
                    ["Logements libres", {{list_appartment_free|length}}],
                ],
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_appartment'
        });

        var chart = c3.generate({
            data: {
                columns: [
                    ["F1", {{list_appartment_f1|length}}],
                    ["F1 bis", {{list_appartment_f1bis|length}}],
                    ["F2", {{list_appartment_f2|length}}],
                    ["F3", {{list_appartment_f3|length}}],
                    ["F4", {{list_appartment_f4|length}}],
                    ["F5", {{list_appartment_f5|length}}],
                    ["F6", {{list_appartment_f6|length}}],
                ],
                type : 'donut',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },
            donut: {
                title: "Types de logement"
            },bindto: '#chart_type'
        });

        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Logements contingent", {{list_appartment_contingent|length}}],
                    ["Logements libres", {{list_appartment_free|length}}],
                ],
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_contingent'
        });

        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Logements F1 libres", {{list_appartment_f1_free|length}}],
                    ["Logements F1 occupés", {{list_appartment_f1_taken|length}}],
                ],
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_f1'
        });

        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Logements F1 bis libres", {{list_appartment_f1bis_free|length}}],
                    ["Logements F1 bis occupés", {{list_appartment_f1bis_taken|length}}],
                ],
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_f1bis'
        });

        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Logements F2 libres", {{list_appartment_f2_free|length}}],
                    ["Logements F2 occupés", {{list_appartment_f2_taken|length}}],
                ],
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_f2'
        });


        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Logements F3 libres", {{list_appartment_f3_free|length}}],
                    ["Logements F3 occupés", {{list_appartment_f3_taken|length}}],
                ],
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_f3'
        });


        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Logements F4 libres", {{list_appartment_f4_free|length}}],
                    ["Logements F4 occupés", {{list_appartment_f4_taken|length}}],
                ],
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_f4'
        });


        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Logements F5 libres", {{list_appartment_f5_free|length}}],
                    ["Logements F5 occupés", {{list_appartment_f5_taken|length}}],
                ],
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_f5'
        });


        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Logements F6 libres", {{list_appartment_f6_free|length}}],
                    ["Logements F6 occupés", {{list_appartment_f6_taken|length}}],
                ],
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_f6'
        });

        var chart = c3.generate({
            data: {
                // iris data from R
                columns: [
                    ["Demandes F1 non attribués", {{ f1_free }}],
                    ["Demandes F1 bis non attribués", {{ f1bis_free }}],
                    ["Demandes F2 non attribués", {{ f2_free }}],
                    ["Demandes F3 non attribués", {{ f3_free }}],
                    ["Demandes F4 non attribués", {{ f4_free }}],
                    ["Demandes F5 non attribués", {{ f5_free }}],
                    ["Demandes F6 non attribués", {{ f6_free }}],
                ],
                type : 'donut',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },bindto: '#chart_demand_type'
        });



    </script>

</body>
</html>
