{# app/Resources/views/Admin/ajouter_demande.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Demandeurs</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% endblock %}

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    {% endblock %}

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('platform_admin_dashboard') }}">Mairie Villers-lès-Nancy Administrateur</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="{{ path('platform_admin_dashboard') }}"><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                    <li><a href="{{ path('platform_admin_appartment') }}"><i class="fa fa-building-o "></i> Appartements</a></li>                    
                    <li class="active"><a href="{{ path('platform_admin_demandeur') }}"><i class="fa fa-users"></i> Demandeurs</a></li>
                    <li><a href="forms.html"><i class="fa fa-bar-chart "></i> Statistiques</a></li>
                    <li><a href="{{ path('platform_admin_archive') }}"><i class="fa fa-archive"></i> Archives</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-exclamation-triangle"></i> Notifications <span class="badge">6</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 Nouvelles demandes</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-user-plus"></i></span>
                                    <span class="message">Alain DUPONT</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">2 Demandes erronées</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-user-times"></i></span>
                                    <span class="message">Eric BOMPART</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">2 Demandes expirées</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-clock-o"></i></span>
                                    <span class="message">Antoine BIBOTEUR</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin Mairie<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                           <li><a href="#"><i class="fa fa-gear"></i> Réglages</a></li>
                           <li class="divider"></li>
                           <li><a href="#"><i class="fa fa-power-off"></i> Déconnection</a></li>
                       </ul>
                   </li>
                </ul>
            </div>
        </nav>
        <div class="container">
          <div class="row">
          <a type="button" class="btn btn-success" href="{{ path('platform_admin_demandeur') }}">
            <i class="fa fa-chevron-left"></i> Retour</a>
            {% if demand_current %}
                <h1>Demande actuelle pour {{demand_current.lastName}} {{demand_current.firstName}}</h1>
            {%endif%}
          </div>
          <div class="row" style="margin-top: 30px">
          <div class="col-lg-12">
            {% if demand_current %}
            
               {% if demand_current.genre != null %} <p><b>Genre: </b>{{demand_current.genre}}</p>{%endif%}
               {% if demand_current.lastname != null %}
                <p><b>Nom: </b>{{demand_current.lastName}}</p>
               {%endif%}
               {% if demand_current.firstname != null %}
                <p><b>Prénom: </b>{{demand_current.firstName}}
                </p>
                 {%endif%}
                 {% if demand_current.date != null %}
                <p><b>Date: </b>{{demand_current.date}}</p>
                {%endif%}
                {% if demand_current.telephone != null %}
                <p><b>Telephhone: </b>{{demand_current.Telephone}}</p>
                {%endif%}
                {% if demand_current.email != null %}

                <p><b>Email: </b>{{demand_current.email}}</p>
                {%endif%}
                {% if demand_current.numero != null %}
                <p><b>Numero: </b>{{demand_current.numero}}</p>
                 {%endif%}
                {% if demand_current.voie != null %}
                <p><b>Voie: </b>{{demand_current.voie}}</p>
                 {%endif%}
                {% if demand_current.complementadresse != null %}
                <p><b>Complément adresse: </b>{{demand_current.complementadresse}}</p>
                 {%endif%}
                {% if demand_current.lieudit != null %}
                <p><b>Lieu-dit: </b>{{demand_current.lieudit}}</p>
                 {%endif%}
                {% if demand_current.codepostal != null %}
                <p><b>Codepostal: </b>{{demand_current.codepostal}}</p>
                 {%endif%}
                {% if demand_current.commune != null %}
                <p><b>Commune: </b>{{demand_current.commune}}</p>
                 {%endif%}
                {% if demand_current.personnecharge != null %}
                <p><b>Personne à charges: </b>{{demand_current.personnecharge}}</p>
                 {%endif%}
                {% if demand_current.nombrepersonnecharge != null %}
                <p><b>Nombre de personne à charges: </b>{{demand_current.nombrepersonnecharge}}</p>
                <p><b>Profession: </b>{{demand_current.profession}}</p>
                 {%endif%}
                {% if demand_current.status != null %}
                <p><b>Statut: </b>{{demand_current.status}}</p>
                 {%endif%}
                {% if demand_current.nomemployeur != null %}
                <p><b>Nom employeur: </b>{{demand_current.nomemployeur}}</p>
                 {%endif%}
                {% if demand_current.codepostalemployeur != null %}
                <p><b>Code Postal: </b>{{demand_current.codepostalemployeur}}</p>
                 {%endif%}
                {% if demand_current.communeemployeur != null %}
                <p><b>Commune du lieu de travail: </b>{{demand_current.communeemployeur}}</p>
                 {%endif%}
                {% if demand_current.professionconjoint != null %}
                <p><b>Profession du conjoint: </b>{{demand_current.professionconjoint}}</p>
                {%endif%}
                {% if demand_current.statusconjoint != null %}
                <p><b>Statut du conjoint: </b>{{demand_current.statusconjoint}}</p>
                {%endif%}
                {% if demand_current.nomemployeurconjoint != null %}
                <p><b>Nom employeur du conjoint: </b>{{demand_current.nomemployeurconjoint}}</p>
                {%endif%}
                {% if demand_current.codepostalemployeurconjoint != null %}
                <p><b>Code Postal de l'employeur du conjoint: </b>{{demand_current.codepostalemployeurconjoint}}</p>
                {%endif%}
                {% if demand_current.communeemployeurconjoint != null %}
                <p><b>Commune du lieu de travail du conjoint: </b>{{demand_current.communeemployeurconjoint}}</p>
                {%endif%}
                {% if demand_current.salary != null %}
                <p><b>Salaire: </b>{{demand_current.salary}}</p>
                {%endif%}
                {% if demand_current.retraite != null %}
                <p><b>Retraite: </b>{{demand_current.retraite}}</p>
                {%endif%}
                {% if demand_current.allocationchomage != null %}
                <p><b>Allocation Chomage: </b>{{demand_current.allocationchomage}}</p>
                {%endif%}
                {% if demand_current.pensionalimentaire != null %}
                <p><b>Pension alimentare: </b>{{demand_current.pensionalimentaire}}</p>
                {%endif%}
                {% if demand_current.pensioninvalidite != null %}
                <p><b>Pension d'invalidité: </b>{{demand_current.pensioninvalidite}}</p>
                {%endif%}
                {% if demand_current.allocationfamilial != null %}
                <p><b>Allocation Familiale: </b>{{demand_current.allocationfamilial}}</p>
                {%endif%}
                {% if demand_current.rsa != null %}
                <p><b>RSA: </b>{{demand_current.rsa}}</p>
                {%endif%}
                {% if demand_current.autres != null %}
                <p><b>Autres: </b>{{demand_current.autres}}</p>
                {%endif%}


                {% if demand_current.salary != null %}
                <p><b>Salaire: </b>{{demand_current.salary}}</p>
                {%endif%}

                {% if demand_current.situation != null %}
                <p><b>Situation de logement acutelle: </b>{{demand_current.situation}}</p>
                {%endif%}

                {% if demand_current.loyerlogementactuel != null %}
                <p><b>Loyer du logement actuel: </b>{{demand_current.loyerlogementactuel}}</p>
                {%endif%}

                {% if demand_current.categorielogementactuel != null %}
                <p><b>Categorie du logement actuel: </b>{{demand_current.categorielogementactuel}}</p>
                {%endif%}

                 {% if demand_current.typelogementactuel != null %}
                <p><b>Type du logement actuel: </b>{{demand_current.typelogementactuel}}</p>
                {%endif%}
                {% if demand_current.surfacelogementactuel != null %}
                <p><b>Type du logement actuel: </b>{{demand_current.surfacelogementactuel}}</p>
                {%endif%}


                {% if demand_current.categorielogementrecherche != null %}
                <p><b>Categorie du logement recherché: </b>{{demand_current.categorielogementrecherche}}</p>
                {%endif%}
                
                {% if demand_current.parking != null %}
                <p><b>Parking: </b>{{demand_current.parking}}</p>
                {%endif%}

                {% if demand_current.typelogementrecherche != null %}
                <p><b>Nombre de chambre: </b>{{demand_current.typelogementrecherche}}</p>
                {%endif%}

                {% if demand_current.rdc != null %}
                <p><b>Rez-de-chaussé: </b>{{demand_current.rdc}}</p>
                {%endif%}

                {% if demand_current.typelogementrecherche != null %}
                <p><b>Type de logement recherché: </b>{{demand_current.typelogementrecherche}}</p>
                {%endif%}

                {% if demand_current.montantmaxi != null %}
                <p><b>Montant maximun (loyer + charge): </b>{{demand_current.montantmaxi}}</p>
                {%endif%}



                {% if demand_current.locationVillersCentre != null %}
                <p><b>Localisation à Villers-centre: </b>{{demand_current.locationVillersCentre}}</p>
                {%endif%}
                {% if demand_current.locationVillersBas != null %}
                <p><b>Localisation à Villers-bas: </b>{{demand_current.locationVillersBas}}</p>
                {%endif%}
                {% if demand_current.locationClairlieu != null %}
                <p><b>Localisation à Clairlieu: </b>{{demand_current.locationClairlieu}}</p>
                {%endif%}
                {% if demand_current.type1 != null %}
                <p><b>Type: </b>{{demand_current.type1}}</p>
                {%endif%}
                {% if demand_current.type2 != null %}
                <p><b>Autre type: </b>{{demand_current.type2}}</p>
                {%endif%}
                {% if demand_current.confirmed != null %}
                <p><b>Confirmé: </b>{{demand_current.confirmed}}</p>
                {%endif%}
                <p><b>Demande créée le: </b>{{ demand_current.dateCreation.format('j M Y à h:m a')}}</p>
                <label for="demand_note">Notes: </label>
                    <textarea maxlength="200" class="form-control" rows="3">{{demand_current.note}}
                    </textarea>
                    <p class="help-block">La modification dans ce cadre n'est pas enregistré.</p>
                {% if demand_current.confirmed == "Oui"%}
                    <a type="button" class="btn btn-primary" href="{{ path('platform_admin_attribution_demande', 
                        { 'id': demand_current.id }) }}">
                    <i class="fa fa-link"></i> Attribuer</a>
                {% else %}
                    {% if demand_current.wrong == "Non"%}
                        <a type="button" class="btn btn-success" 
                        href="{{ path('platform_admin_confirmer_demande', 
                        { 'id': demand_current.idUser }) }}">
                        <i class="fa fa-check"></i> Confirmer</a>
<!--OnClick="return confirm('Voulez-vous vraiment supprimer la demande ?');"-->
                        <a type="button" class="btn btn-danger" 
                        href="{{ path('platform_admin_refuser_demande', 
                        { 'id': demand_current.idUser }) }}">
                        <i class="fa fa-times"></i> Refuser</a>
                    {% else %}
                        <p> Vous avez refusé la demande, elle est donc erronée. La demande pourra être confimé lorsque la demande sera modifiée par le demandeur de logement social ou si vous la modifiez vous même.</p>
                    {%endif%}
                {%endif%}
                <a type="button" class="btn btn-warning" href="{{ path('platform_admin_modifier_demande', 
                    { 'id': demand_current.id }) }}"><i class="fa fa-pencil"></i> Editer</a>
                <a type="button" class="btn btn-primary" href="{{ path('platform_admin_archiver_demande', 
                    { 'id': demand_current.idUser }) }}"><i class="fa fa-archive"></i> Archiver</a>
            {%endif%}
            
          </div>
        </div>
    </div>

</body>
</html>
