{# app/Resources/views/Default/index.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <script src="jquery2.2.1.min.js"></script>

  <title>Demande de logement social-Mairie de Villers-lès-Nancy</title>

  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ asset('css/bootstrap/css/accueil.css') }}">
  <link rel="stylesheet" href="{{ asset('css/bootstrap/css/form2.css') }}">
  {% endblock %}

</head>

<body>

  <div class="container">
    <div id="logo">
      <img class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "  src="{{ asset('images/logo-villers.png') }}" >




      <div class="connexion">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-lg btn-secondary" role="button">
          {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
        {% else %}
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-secondary" role="button">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg btn-secondary" role="button">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-lg btn-secondary" role="button" style="margin-right: 20px">Mot de passe perdu?</a>
        {% endif %}
      </div>

      {% if app.request.hasPreviousSession %}
      {% for type, messages in app.session.flashbag.all() %}
      {% for message in messages %}
      <div class="flash-{{ type }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endfor %}
      {% endif %}

      <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
      </div> 
    </div>

    <div id="chateau">
      <img class="col-xs-12 col-sm-9 col-md-15 col-lg-10 col-lg-offset-1"  src="{{ asset('images/chateau.jpg') }}" >
    </div>
    <ul class="main_menu">
      <li class="main_menu"><a href="{{ path('homepage') }}">Home</a></li>
          <li class="main_menu"><a>Contact</a></li>
        </li>
      </ul> 

      <div class="well">
       
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane active in" id="home">


            <form action="{{path('form3')}}" method="post" role="form">

              <div class="info page1">
                <h1>Récapitulatif du formulaire</h1>
                
                <p>  
                  <label class="labelnom">Nom : {{ app.user.firstname}} </label>
                </p>
                

                <p>
                  <label class="labelprenom">Prénom: {{ app.user.lastname}}</label>
                </p>
                <p>
                  <label class="labeldate">Date de naissance: {{demand.date}}</label>
                </p>

                <p>
                  <label class="labeltel">Telephone: {{ demand.telephone}}</label>
                </p>

                <p>
                  <label class="labelmail">Mail: {{ demand.email}}</label>
                </p>
                <p>
                  <label class="labelnumero">Numéro: {{ demand.numero}}</label>
                </p>
                <p>
                  <label class="labelvoie">Voie: {{ demand.voie}}</label>
                </p>
                <p>
                  <label class="labelcomplement">Complément adresse: {{ demand.complementadresse}}</label>
                </p>
                <p>
                  <label class="labellieu">Lieu-dit: {{ demand.lieudit}}</label>
                </p>
                <p>
                  <label class="labelcode">Code postal: {{ demand.codepostal}}</label>
                </p>
                <p>
                  <label class="labelcommune">Commune: {{ demand.commune}}</label>
                </p>

                <p>
                  <label class="labelpersonne">Personne à charges: {{ demand.personnecharge}}</label>
                </p>
                <p>
                  <label class="labelnbpersonne">Si oui combien ? {{ demand.nombrepersonnecharge}}</label>
                </p>    

                <p>
                  <label class="labelprofession">Profession: {{ demand.profession}}</label>
                </p>

                <p>
                  <label class="labelnomemployeur">Nom de votre employeur : {{ demand.nomemployeur}}</label>
                  
                </p>

                <p>
                  <label class="labelcode">Code postal: {{ demand.codepostalemployeur}}</label>
                </p>

                <p>
                  <label class="labelcommuneemployeur">Commune du lieu de travail : {{ demand.communeemployeur}}</label>
                </p>

                <p>
                  <label class="labelsalaire">Salaire : {{ demand.salary}}</label>
                </p>
                <p>
                  <label class="labelretraite">Retraite: {{ demand.retraite}}</label>
                </p>
                <p>
                  <label class="labelalloc">Allocation chômage: {{ demand.allocationchomage}}</label>
                </p>
                <p>
                  <label class="labelpensionalim">Pension alimentaire: {{ demand.pensionalimentaire}}</label>
                </p>
                <p>
                  <label class="labelpensioninval">Pension d'invaidité: {{ demand.pensioninvalidite}}</label>
                </p>
                <p>
                  <label class="labelallocfamilial">Allocation familiale: {{ demand.allocationfamilial}}</label>
                </p>
                <p>
                  <label class="labelrsa">Revenu de soldarité active (RSA): {{ demand.rsa}}</label>
                </p>
                <p>
                  <label class="labelautres">Autres : {{ demand.autres}}</label>
                </p>

              </div>
              <!-- <div class="info page1">
                <h1>Adresse pour l'envoie du courrier</h1>
                <p>
                  <label class="labelnumero">Numéro</label>
                  <input class="input-xlarge" id="demande_numero" type="text"  name="demande[numero]" value={{ demand.numero}}></input>
                </p>
                <p>
                  <label class="labelvoie">Voie</label>
                  <input class="input-xlarge" id="demande_voie" type="text"  name="demande[voie]" value={{ demand.voie}}></input>
                </p>
                <p>
                  <label class="labelcomplement">Complément adresse</label>
                  <input class="input-xlarge" id="demande_complementadresse" type="text"  name="demande[complementadresse]" value={{ demand.complementadresse }}></input>
                </p>
                <p>
                  <label class="labellieu">Lieu-dit</label>
                  <input class="input-xlarge" id="demande_lieudit" type="text"  name="demande[lieudit]" value={{ demand.lieudit}}></input>
                </p>
                <p>
                  <label class="labelcode">Code postal</label>
                  <input class="input-xlarge" id="demande_codepostal" type="text"  name="demande[codepostal]" value={{ demand.codepostal}}></input>
                </p>
                <p>
                  <label class="labelcommune">Commune</label>
                  <input class="input-xlarge" id="demande_commune" type="text"  name="demande[commune]" value={{ demand.commune}}></input>
                </p>

              </div>

              <div class="info page1">
                <h1>Personne fiscalement à charges</h1>
                <p>
                  <label class="labelpersonne">Personne à charges</label>
                  <input class="input-xlarge" id="demande_personnecharge" type="text"  name="demande[personnecharge]" value={{ demand.personnecharge}}></input>
                </p>
                <p>
                  <label class="labelnbpersonne">Si oui combien ?</label>
                  <input class="input-xlarge" id="demande_nombrepersonnecharge" type="text"  name="demande[nombrepersonnecharge]" value={{ demand.nombrepersonnecharge}}></input>
                </p>

              </div>


              <div class="info page2">
                <h1>Coordonnées</h1>    
                

                <p>
                  <label class="labelprofession">Profession</label>
                  <input class="input-xlarge" id="demande_profession" type="text"  name="demande[profession]"  ></input>
                  
                </p>

                <p>
                  <label class="labelnomemployeur">Nom de votre employeur</label>
                  <input class="input-xlarge" id="demande_nomemployeur" type="text"  name="demande[nomemployeur]"></input>
                  
                </p>

                <p>
                  <label class="labelcode">Code postal</label>
                  <input class="input-xlarge" id="demande_codeemployeur" type="text"  name="demande[codepostalemployeur]"></input>
                </p>

                <p>
                  <label class="labelcommuneemployeur">Commune du lieu de travail</label>
                  <input class="input-xlarge" id="demande_communeemployeur" type="text"  name="demande[communeemployeur]"></input>
                </p>

              </div>

              <div class="info page3">
                <h1>Ressources Mensuelles</h1>
                <p>
                  <label class="labelsalaire">Salaire</label>
                  <input class="input-xlarge" id="demande_salaire" type="text"  name="demande[salaire]"     ></input>
                </p>
                <p>
                  <label class="labelretraite">Retraite</label>
                  <input class="input-xlarge" id="demande_retraitechomage" type="text"  name="demande[retraite]"     ></input>
                </p>
                <p>
                  <label class="labelalloc">Allocation chômage</label>
                  <input class="input-xlarge" id="demande_allocationchomage" type="text"  name="demande[allocationchomage]"     ></input>
                </p>
                <p>
                  <label class="labelpensionalim">Pension alimentaire</label>
                  <input class="input-xlarge" id="demande_pensionalimentaire" type="text"  name="demande[pensionalimentaire]"     ></input>
                </p>
                <p>
                  <label class="labelpensioninval">Pension d'invaidité</label>
                  <input class="input-xlarge" id="demande_pensioninvalidite" type="text"  name="demande[pensioninvalidite]"     ></input>
                </p>
                <p>
                  <label class="labelallocfamilial">Allocation familiale</label>
                  <input class="input-xlarge" id="demande_allocationfamilial" type="text"  name="demande[allocationfamilial]"     ></input>
                </p>
                <p>
                  <label class="labelrsa">Revenu de soldarité active (RSA)</label>
                  <input class="input-xlarge" id="demande_rsa" type="text"  name="demande[rsa]"     ></input>
                </p>
                <p>
                  <label class="labelautres">Autres</label>
                  <input class="input-xlarge" id="demande_autres" type="text"  name="demande[autres]"     ></input>
                </p>

              </div> -->

              <!-- <div class="info page4">
                <h1>Caractéristiques du logement recherché</h1>
                <p>
                  <label class="labelsituation">Situation de logement</label>
                  <input class="input-xlarge" id="demande_situation" type="text"  name="demande[situation]" ></input>
                </p>
                <p>
                  <label class="labelparking">Parking</label>
                  <input class="input-xlarge" id="demande_parking" type="text"  name="demande[parking]" ></input>
                </p>
                <p>
                  <label class="labeltype">Type de logement</label>
                  <input class="input-xlarge" id="demande_typelogement" type="text"  name="demande[typelogement]" ></input>
                </p>
                <p>
                  <label class="labelrdc">Rez-de-chaussée accepté</label>
                  <input class="input-xlarge" id="demande_rdc" type="text"  name="demande[rdc]" ></input>
                </p>
                <p>
                  <label class="labelascenseur">Logement sans ascenseur accepté</label>
                  <input class="input-xlarge" id="demande_ascenseur" type="text"  name="demande[ascenseur]" ></input>
                </p>

                <p>
                  <label class='labelmontantmaxi'>Montant maximum de la dépense (charge+loyer)</label>
                  <input class="input-xlarge" id="demande_montantmaxi" type="text"  name="demande[montantmaxi]"></input>
                </p>

                

              </div> -->

              <!-- <div class="info page4">
                <h1>Informations saisie sur le formulaire</h1>
                <p>Nom: {{ app.user.lastname}}</p>
                <p>Prénom: {{ app.user.firstname}}</p>
                <p>Prénom: {{ demand.date}}</p>
              </div> -->





            </div> 

            {{ form_widget(form._token) }}

            <div class="placement">
              <a href="{{ path('form2_modifier') }}" class="btn btn-danger btn-outline" style="margin-left: 120px;"/>Modifier</a>
              <a href="/images/cerfa.pdf" class="btn btn-lg btn-primary " target="_blank" style="margin-bottom: 30px; margin-left: 60px;" role="button" >Télécharger document cerfa</a>
              <a href="{{ path('homepage') }}" class="btn btn-success btn-outline " style="margin-bottom: 30px; margin-left: 60px; "/>Valider</a>
 
              
              

            </div>
          </form>

        </div> 
      </div> 
    </div>
    
    
  </div>


  

</body>
</html>
