{# app/Resources/views/Default/index.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <script src="jquery2.2.1.min.js"></script>

  <title>Demande de logement social-Mairie de Villers-lès-Nancy</title>

  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ asset('css/bootstrap/css/accueil.css') }}">
  <link rel="stylesheet" href="{{ asset('css/bootstrap/css/form2.css') }}">
  {% endblock %}

</head>

<body>

  <div class="container">
    <div id="logo">
      <img class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "  src="{{ asset('images/logo-villers.png') }}" >




      <div class="connexion">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-lg btn-secondary" role="button">
          {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
        {% else %}
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-secondary" role="button">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg btn-secondary" role="button">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-lg btn-secondary" role="button" style="margin-right: 20px">Mot de passe perdu?</a>
        {% endif %}
      </div>

      {% if app.request.hasPreviousSession %}
      {% for type, messages in app.session.flashbag.all() %}
      {% for message in messages %}
      <div class="flash-{{ type }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endfor %}
      {% endif %}

      <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
      </div> 
    </div>

    <div id="chateau">
      <img class="col-xs-12 col-sm-9 col-md-15 col-lg-10 col-lg-offset-1"  src="{{ asset('images/chateau.jpg') }}" >
    </div>
    <ul class="main_menu">
      <li class="main_menu"><a href="{{ path('homepage') }}">Home</a></li>
   <!--    <li class="main_menu"><a href="{{ path('form1') }}">Créer une demande</a>
        <li class="main_menu"><a href="#">Accéder à ma demande</a> -->
          <li class="main_menu"><a>Contact</a></li>
        </li>
      </ul> 

      <div class="well">
        <ul class="nav nav-tabs">
          <li><a id="actif" class="onglet-actif" href="{{ path('form2') }}" data-toggle="tab">Demande</a></li>
          <li><a id="nonactif" class="onglet"  data-toggle="tab" >Situation Professionnelle</a></li>
          <li><a id="nonactif" class="onglet"  data-toggle="tab">Ressources actuelles</a></li>
          <li><a id="nonactif" class="onglet"  data-toggle="tab">Motif et logement recherché</a></li>
          <li><a id="nonactif" class="onglet"  data-toggle="tab">Téléchargement</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane active in" id="home">


            <form action="{{path('form2_modifier')}}" method="post" role="form">

              <div class="info page1">
                <h1>Coordonnées</h1>
                
                <p>  
                  <label class="labelnom">Nom</label>
                  <input class="input-xlarge" id="demand_nom" type="text" required="required" name="demand[lastname]"  value={{ app.user.firstname}}   ></input>
                </p>
                

                <p>
                  <label class="labelprenom">Prénom</label>
                  <input class="input-xlarge" id="demand_prenom" type="text"  name="demand[firstname]" value={{ app.user.lastname}}></input>
                </p>
                <p>
                  <label class="labeldate">Date de naissance</label>
                  <input class="input-xlarge" id="demand_date" type="text"  name="demand[date]" value={{ demand.date}} ></input>
                </p>

                <p>
                  <label class="labeltel">Telephone</label>
                  <input class="input-xlarge" id="demand_telephone" type="text"  name="demand[telephone]" value={{ demand.telephone}}></input>
                </p>

                <p>
                  <label class="labelmail">Mail</label>
                  <input class="input-xlarge" id="demand_mail" type="text"  name="demand[email]" value={{ app.user.username}}></input>
                </p>

              </div>
              <div class="info page1">
                <h1>Adresse pour l'envoie du courrier</h1>
                <p>
                  <label class="labelnumero">Numéro</label>
                  <input class="input-xlarge" id="demand_numero" type="text"  name="demand[numero]" value={{ demand.numero}}></input>
                </p>
                <p>
                  <label class="labelvoie">Voie</label>
                  <input class="input-xlarge" id="demand_voie" type="text"  name="demand[voie]" value={{ demand.voie}}></input>
                </p>
                <p>
                  <label class="labelcomplement">Complément adresse</label>
                  <input class="input-xlarge" id="demand_complementadresse" type="text"  name="demand[complementadresse]" value={{ demand.complementadresse }}></input>
                </p>
                <p>
                  <label class="labellieu">Lieu-dit</label>
                  <input class="input-xlarge" id="demand_lieudit" type="text"  name="demand[lieudit]" value={{ demand.lieudit}}></input>
                </p>
                <p>
                  <label class="labelcode">Code postal</label>
                  <input class="input-xlarge" id="demand_codepostal" type="text"  name="demand[codepostal]" value={{ demand.codepostal}}></input>
                </p>
                <p>
                  <label class="labelcommune">Commune</label>
                  <input class="input-xlarge" id="demand_commune" type="text"  name="demand[commune]" value={{ demand.commune}}></input>
                </p>

              </div>

              <div class="info page1">
                <h1>Personne fiscalement à charges</h1>
                <p>
                  <label class="labelpersonne">Personne à charges</label>
                  <input class="input-xlarge" id="demand_personnecharge" type="text"  name="demand[personnecharge]" value={{ demand.personnecharge}}></input>
                </p>
                <p>
                  <label class="labelnbpersonne">Si oui combien ?</label>
                  <input class="input-xlarge" id="demand_nombrepersonnecharge" type="text"  name="demand[nombrepersonnecharge]" value={{ demand.nombrepersonnecharge}}></input>
                </p>

              </div>







              <div class="info page2">
                <h1>Coordonnées</h1>    
                

                <p>
                  <label class="labelprofession">Profession</label>
                  <input class="input-xlarge" id="demand_profession" type="text"  name="demand[profession]"  ></input>
                  
                </p>

                <p>
                  <label class="labelnomemployeur">Nom de votre employeur</label>
                  <input class="input-xlarge" id="demand_nomemployeur" type="text"  name="demand[nomemployeur]"></input>
                  
                </p>

                <p>
                  <label class="labelcode">Code postal</label>
                  <input class="input-xlarge" id="demand_codeemployeur" type="text"  name="demand[codepostalemployeur]"></input>
                </p>

                <p>
                  <label class="labelcommuneemployeur">Commune du lieu de travail</label>
                  <input class="input-xlarge" id="demand_communeemployeur" type="text"  name="demand[communeemployeur]"></input>
                </p>

              </div>

              <div class="info page3">
                <h1>Ressources Mensuelles</h1>
                <p>
                  <label class="labelsalaire">Salaire</label>
                  <input class="input-xlarge" id="demand_salaire" type="text"  name="demand[salary]"     ></input>
                </p>
                <p>
                  <label class="labelretraite">Retraite</label>
                  <input class="input-xlarge" id="demand_retraitechomage" type="text"  name="demand[retraite]"     ></input>
                </p>
                <p>
                  <label class="labelalloc">Allocation chômage</label>
                  <input class="input-xlarge" id="demand_allocationchomage" type="text"  name="demand[allocationchomage]"     ></input>
                </p>
                <p>
                  <label class="labelpensionalim">Pension alimentaire</label>
                  <input class="input-xlarge" id="demand_pensionalimentaire" type="text"  name="demand[pensionalimentaire]"     ></input>
                </p>
                <p>
                  <label class="labelpensioninval">Pension d'invaidité</label>
                  <input class="input-xlarge" id="demand_pensioninvalidite" type="text"  name="demand[pensioninvalidite]"     ></input>
                </p>
                <p>
                  <label class="labelallocfamilial">Allocation familiale</label>
                  <input class="input-xlarge" id="demand_allocationfamilial" type="text"  name="demand[allocationfamilial]"     ></input>
                </p>
                <p>
                  <label class="labelrsa">Revenu de soldarité active (RSA)</label>
                  <input class="input-xlarge" id="demand_rsa" type="text"  name="demand[rsa]"     ></input>
                </p>
                <p>
                  <label class="labelautres">Autres</label>
                  <input class="input-xlarge" id="demand_autres" type="text"  name="demand[autres]"     ></input>
                </p>

              </div>

              <!-- <div class="info page4">
                <h1>Caractéristiques du logement recherché</h1>
                <p>
                  <label class="labelsituation">Situation de logement</label>
                  <input class="input-xlarge" id="demand_situation" type="text"  name="demand[situation]" ></input>
                </p>
                <p>
                  <label class="labelparking">Parking</label>
                  <input class="input-xlarge" id="demand_parking" type="text"  name="demand[parking]" ></input>
                </p>
                <p>
                  <label class="labeltype">Type de logement</label>
                  <input class="input-xlarge" id="demand_typelogement" type="text"  name="demand[typelogement]" ></input>
                </p>
                <p>
                  <label class="labelrdc">Rez-de-chaussée accepté</label>
                  <input class="input-xlarge" id="demand_rdc" type="text"  name="demand[rdc]" ></input>
                </p>
                <p>
                  <label class="labelascenseur">Logement sans ascenseur accepté</label>
                  <input class="input-xlarge" id="demand_ascenseur" type="text"  name="demand[ascenseur]" ></input>
                </p>

                <p>
                  <label class='labelmontantmaxi'>Montant maximum de la dépense (charge+loyer)</label>
                  <input class="input-xlarge" id="demand_montantmaxi" type="text"  name="demand[montantmaxi]"></input>
                </p>

                

              </div> -->

              





            </div> 

            {{ form_widget(form._token) }}

            <div class="placement">
           <!--   <a href="{{ path('homepage') }}" class="btn btn-danger btn-outline"/>Annuler</a> -->
               <button class="btn btn-danger btn-outline" type="button" id="bouton_js2" style="margin-bottom: -0.25cm; margin-top: 0.5cm margin-left: 5cm">Précédent</button>
              
              <button class="btn btn-success btn-outline" type="button" id="bouton_js" style="margin-bottom: 0.5cm; margin-top: 0.5cm margin-left: 15cm">Suivant</button>
          
              <input type="submit" class="btn btn-success btn-outline" id="vrai_submit" value="Valider" style="margin-bottom: 50px; margin-top: 20px">

            </div>
          </form>

        </div> 
      </div> 
    </div>
    
    
  </div>


  <script>


  $(document).ready(function(){

    var page_active=1;

  // init : cacher les formulaire a ne pas afficher + le vrai button submit
  $(".page2").hide();
  $(".page3").hide();
  $(".page4").hide();
  $("#vrai_submit").hide();

  //bind button suivant
  $("#bouton_js").on('click',function(){

    if(page_active==1){
      $(".page1").hide(200);
      $(".page2").show(200);
      $(".page3").hide(200);
      $(".page4").hide(200);
      page_active=2;
      return;
    }

    if(page_active==2){
      $(".page1").hide(200);
      $(".page2").hide(200);
      $(".page3").show(200);      
      $(".page4").hide(200);
        //derniere page ??
        $("#bouton_js2").show();

        page_active=3;
        return;
      }

    //   if(page_active==4){
    //   $(".page1").hide(200);
    //   $(".page2").hide(200);
    //   $(".page3").hide(200);      
    //   $(".page4").show(200);
    //     //derniere page ??
        

    //     page_active=4;
    //     return;
    //   }

    if(page_active==3){
        $(".page1").hide(200);
        $(".page2").hide(200);
        $(".page3").hide(200);
        $(".page4").hide(200);
        //derniere page ??
        $("#vrai_submit").show(200);
        $("#bouton_js").hide();

        page_active=4;
        return;
      }
      
    });


 $("#bouton_js2").on('click',function(){

    if(page_active==1){
    document.location.href = "form1";
      return;
    }

    if(page_active==2){
      $(".page1").show(200);
      $(".page2").hide(200);
      $(".page3").hide(200);      
      $(".page4").hide(200);
         
        

        page_active=1;
        return;
      }


 //   if(page_active==4){
    //   $(".page1").hide(200);
    //   $(".page2").hide(200);
    //   $(".page3").hide(200);      
    //   $(".page4").show(200);
    //     //derniere page ??
        

    //     page_active=4;
    //     return;
    //   }

       if(page_active==3){
         $(".page1").hide(200);
      $(".page2").show(200);
      $(".page3").hide(200);
      $(".page4").hide(200);
      page_active=2;
        return;
      }

  if(page_active==4){
         $(".page1").hide(200);
      $(".page2").hide(200);
      $(".page3").show(200);
      $(".page4").hide(200);
       $("#bouton_js").show();
      $("#vrai_submit").hide();
      page_active=3;
        return;
      }

    });
});


  </script>


</body>
</html>
