<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap-theme.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/boostrap-responsive.css') }}">
    {% endblock %}

<title>Responsive Registration Form</title>
</head>
<body>

<div class="container">
        <div id="logo">
          <img class="col-xs-2 col-sm-2 col-md-2 col-lg-2 "  src="{{ asset('images/logo-villers.png') }}" >
        </div>

        <div id="chateau">
          <img class="col-xs-12 col-sm-9 col-md-15 col-lg-10 col-lg-offset-1"  src="{{ asset('images/chateau.jpg') }}" >
        </div>

        <label for="show-menu" class="show-menu">Menu</label>

        <input type="checkbox" id="show-menu" role="button">
          <ul id="menu">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('form1') }}">Créer une demande</a>
            <li><a href="#">Accéder à ma demande</a>    
            <li><a href="#">Télécharger</a></li>
            <li><a href="#">Contact</a></li>
            </li>
          </ul> 
          
          <ul>
          <form action="{{path("form1")}}" method="post">
            {{ form_widget(form) }}
          </form>
        </ul>
</div>
</body>

</html>