  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
 <link rel="stylesheet" href="/styles.css">
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="/script.js"></script>
    <title>Demande de logement social-Mairie de Villers-lès-Nancy</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/form1.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/boostrap-responsive.css') }}">
    {% endblock %}

  </head>

  <body>

   <div class="container">
    <div id="logo">

      <div class="col-lg-2 col-lg-offset-2">
        <img   src="{{ asset('images/logo-villers.png') }}" >
      </div>
      
      <div class="col-lg-7 col-lg-offset-1">
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        
        <a href="{{ path('fos_user_security_logout') }}" style="margin-top:10px" class="btn btn-lg btn-secondary" role="button">
          {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
        {% else %}

        <a href="{{ path('fos_user_security_login') }}" style="margin-top:10px" class="btn btn-lg btn-secondary" role="button">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

        <a href="{{ path('fos_user_registration_register') }}" style="margin-top:10px" class="btn btn-lg btn-secondary" role="button">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>

        <a href="{{ path('fos_user_resetting_request') }}" style="margin-top:10px" class="btn btn-lg btn-secondary" role="button" style="margin-right: 20px">Mot de passe perdu?</a>
        {% endif %}
        
      </div>

      {% if app.request.hasPreviousSession %}
      {% for type, messages in app.session.flashbag.all() %}
      {% for message in messages %}
      <div class="flash-{{ type }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endfor %}
      {% endif %}

      <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
      </div> 
    </div>

   


   <div id="chateau">
      <div class="col-lg-8 col-lg-offset-1">
      <img   src="{{ asset('images/chateau.jpg') }}" >
    </div>
    <div class="col-lg-1" ></div>
    </div>

    

  <div id='cssmenu'>
    

    <ul class="list-group" >

      <li class="main_menu" style="margin-left:7%"><a href="{{ path('homepage') }}">Accueil</a></li>

      <li class="main_menu"><a {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} href="{{ path('form1') }}" {% else %} href="{{ path('fos_user_security_login') }}" {% endif %}>Créer une demande</a></li>

        <li class="main_menu"><a {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} href="{{ path('form3') }}" {% else %} href="{{ path('fos_user_security_login') }}" {% endif %} >Accéder à ma demande</a></li>

          <li class="main_menu"><a href="{{ path('contact') }}">Contact</a></li>
        
    </ul>

        <div class="coin" width="530" >

          <p>
          </p>
          <div class="info">
            <h1>Introduction</h1>
            <p>
              Vous allez informer la ville de Viller-Lès-Nancy de votre recherche de logement social par l'interm&eacute;diaire de ce site.
            </p>
          </div>
          <div class="info">
            <h1>Les &eacute;tapes de cr&eacute;ation</h1>
            <p>
              Pour cr&eacute;er votre informatin de recherche, munissez-vous de vos justificatifs de ressources.
            </p>
          </div>

          <div class="info">
            <h1>L'activation de votre adresse &eacute;lectronique</h1>
            <p>
              Avant de d&eacute;buter la saisie de la demande de logement, vous devrez renseigner votre adresse &eacute;lectronique.
              Suite &agrave; cette saisie, vous recevrez un message d'activation : vous devrez cliquer sur le lien contenu dans ce message &eacute;lectronique pour pouvoir continuer votre saisie.
            </p>
          </div>

          <div class="info">
            <h1>La r&eacute;ception de votre code de t&eacute;l&eacute;demandeur</h1>
            <p>
              Suite &agrave; l'activation de votre adresse &eacute;lectronique, vous recevrez votre code de t&eacute;l&eacute;demandeur par message &eacute;lectronique.
              Ce code vous sera utile pour modifier a posteriori votre information de recherche ou pour la renouveler.
              Conservez-le pr&eacute;cieusement pendant toute la dur&eacute;e de vie de votre demande de logement
            </p>
          </div>

          <div class="info">
            <h1>La saisie des informations</h1>
            <p>
              Lors de la saisie des informations, laissez-vous guider par les diff&eacute;rentes questions qui vous seront pos&eacute;es.
              S'il vous manque des &eacute;l&eacute;ments, vous avez la possibilit&eacute; d'arr&ecirc;ter votre saisie &agrave; tout moment pour la reprendre plus tard.
            </p>
          </div>

          <!-- <div class="info">
            <p>
              Vous recevrez par e-mail la confirmation que cette confirmation a bien été enregistrée que cette information a bien été enregistrée par le service de la vie.
            </p>
              
          </div> -->
          <div class="placement">
           <a href="{{ path('homepage') }}" class="btn btn-danger btn-outline"/>Annuler</a>
           <a href="{{ path('form2') }}" class="btn btn-success btn-outline" />Valider</a>
         </div>
       </div>
       

     </div>
   </body>

   </html>