{# src/PIBundle/Ressource/views/Formulaire/redirection_access.html.twig 


  @Auteurs: Paul Le Noac'h, Komel Jamal, Brian Blessou
  @Mail: brian.blessou@telecomnancy.net
  @Version: HTML5 & Twig

  Cette page permet de rediriger l'utilisateur si celui-ci veut accéder à une demande sans en avoir créer une au préalable.
#}

{% extends "PIBundle:Formulaire:layout_formulaire.html.twig" %}

{% block Accueil %}Redirection{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/form1.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/boostrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/form2.css') }}">
  {% endblock %}


{% block body %}


  
        <div class="coin" width="530" >

          <p>
          </p>
          <div class="info">
            <h1>Information</h1>
            <p style="white-space:pre">
             Vous n'avez pas encore crée de demande. Veuillez suivre ce lien pour <a href="{{ path('form1') }}">créer une demande</a>.
            </p>
          </div>

     </div>

  {% endblock %}